
.font{
    font-family: 'Open Sans', sansserif;
    color: #0cd9f5;
}

.header{
    border:1px solid #000;
    color:red;
    text-align: center;
    
}
.border{
    border: 1px solid black;
    height: 200px;
}

#topnavbar{
    background-color: rgba(0, 0, 0,0.7);
    
}
li {
    border: 1px solid #000;
    
}

#top-banner{
    min-height:500px;
    background-image: url(../Images/banner_assasins_creed_2.jpg);
    background-size: cover;
}

.thump{
    position: relative;
}


.bottom-text{
    background-color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
    
}

.banner-overlay{
    width: 700px;
    height: 700;
    background-color: black;
    background-color: transparent;
}


#picture01{
    background-image: url(../Images/thumb_call_of_duty.jpg);

}
#picture02{
    background-image: url(../Images/thumb_forza4.jpg);
}
#picture03{
    background-image: url(../Images/thumb_gtav.jpg);
}
#picture04{
    background-image: url(../Images/thumb_halo4.jpg);
}
#picture05{
    background-image: url(../Images/thumb_red_dead_redemption.jpg);
}
#picture06{
    background-image: url(../Images/thumb_splintercell.jpg);
}
.iframe-container{
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe{
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: inherit;
    padding-right: inherit;
}

.iframe-container-4x3{
    padding-top: 75%;
}

/*
@media screen and (max-width: 768px) {
    body {
        background-color: lightgreen;
    }
    aside, #top-banner{
        display: none;
    }
}*/
